* {
  font-family: arial;
  margin: 0;
  padding: 0;
}
#timeRemainingIndicator, #healthRemainingIndicator {
  background: red;
}
#timeRemainingHolder, #healthRemainingHolder {
  border: 1px solid black;
}
#minimap {
  background: #00402F;
}
#main {
  width: 700px;
}
#side {
  position:absolute;
  right: 20px;
  top: 20px;
  width: 200px;
}
#intro {
  background: #284000;
  color: #458F00;
  padding: 5px;
  font-size: 2em;
}
body {
  background: #133517;
}
#container {
  background: #50512e;
  border: 3px solid black;
  width: 920px;
  margin: 30px auto;
  padding: 20px;
  position: relative;
}
#canvas {
  background: #6B9959;
}
#deathScreen {
  position: absolute;
  left: 50px;
  top: 150px;
  width:600px;
  height: 500px;
  font-size: 2em;
  text-align: center;
  background: #99961C;
}
#welcomeScreen {
  position: absolute;
  font-size: 2em;
  color: #fff;
  left: 50px;
  top: 100px;
  width:600px;
  height: 450px;
  text-align: center;
}
#startBtn {
  background: #823400;
  color: #C8FF00;
  display: block;
  width: 200px;
  padding: .5em;
  margin: auto;
  text-decoration: none;
}
#hud .label {
  margin-top: 5px;
  color: #FFE684;
}
