* {
  font-family: arial;
  margin: 0;
  padding: 0;
}
#timeRemainingIndicator {
  background: red;
}
#timeRemainingHolder {
  border: 1px solid black;
}
#minimap {
  background: #9FD69E;
}
#side {
  position: absolute;
  left: 710px;
  top: 0;
}
body {
  background: #133517;
}
#container {
  background: #50512e;
  border: 3px solid black;
}
#canvas {
  background: #6B9959;
}
#deathScreen {
  position: absolute;
  left: 50px;
  top: 150px;
  width:600px;
  height: 500px;
  font-size: 2em;
  text-align: center;
  background: #99961C;
}
#welcomeScreen {
  position: absolute;
  font-size: 2em;
  color: #fff;
  left: 50px;
  top: 100px;
  width:600px;
  height: 450px;
  text-align: center;
}
#startBtn {
  background: #823400;
  color: #C8FF00;
  display: block;
  width: 200px;
  padding: .5em;
  margin: auto;
  text-decoration: none;
}
#container {
  width: 900px;
  margin: auto;
  position: relative;
}